@use "../../styles/variables/colors";

.buttonGroup {
    display: flex;
    gap: 1rem;
}

.filters {
    align-items: flex-end;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-block-end: 3rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 4rem;
    list-style: none;
    padding: 0;
    width: 100%;
}

.searchContainer {
    max-width: 20rem;
    width: 100%;
}

.searchForm,
.sortContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.searchInput {
    background-color: colors.$color-background-300;
    border: 2px solid colors.$color-background-300;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
        border-color: colors.$color-primary;
    }
}

.sortButtonContainer {
    font-weight: 700;

    position: relative;

    // Hide default radio button
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked + .sortButton {
            background-color: colors.$color-primary;
            border-color: colors.$color-primary;
            color: colors.$color-background-300;
        }
    }

    .sortButton {
        background-color: colors.$color-background-300;
        border: 2px solid colors.$color-background-300;
        border-radius: 0.25rem;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        padding: 0.5rem 1rem;
        transition: border-color 0.2s ease, background-color 0.2s ease;

        &:hover {
            border-color: colors.$color-primary;
        }
    }
}
