@use "../../styles/variables/colors";
@use "../../styles/variables/z-indexes";

.header {
    background-color: colors.$color-background-300;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z-indexes.$z-header;

    h1 {
        font-size: 1.5em;
    }
}

.headerContainer {
    margin: auto;
    max-width: 85rem;
    padding: 0.5rem 2rem;
}

.main {
    margin: auto;
    max-width: 85rem;
    padding: 5rem 2rem;
}
