// Includes styles for font-size, font families, and text colors
@use "./variables/typography";
@use "./variables/colors";

:root {
    font-family: typography.$font-family;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

html {
    font-size: 16px;
}

a {
    color: colors.$color-primary;
    font-weight: 500;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    color: colors.$color-text-100;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 3em;
    margin-block: 2rem 1rem;
}

h2,
.h2 {
    font-size: 2em;
    margin-block: 2rem 1rem;
}

h3,
.h3 {
    font-size: 1.25em;
}

input {
    font-family: typography.$font-family;
}

p {
    margin: 0;
}

.page-title {
    margin-block-start: 0;
}
